body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  display: flex;
}

.user {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 5px;
}