body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  display: flex;
}

.user {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 5px;
}
.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 600px;
  /* border: 3px solid black; */
  box-shadow: 3px 3px 3px 3px rgba(76, 76, 76, 0.2);
  border-radius: 20px;
  margin: 0 auto;
  ;
}

.container-login h3{
  font-weight: bold;
  font-size: 35px;
  color: #274D5A;
}

.container-login button{
  background-color: #42988D;
  border: none;
  border-radius: 2rem;
}

